In [ ]:
Name="Sudiksha Sachin Bhosale"
Roll_No=9154

Lists

In [ ]:
A=["Sudiksha Sachin","Bhosale",20,"Student",]
B=["SP College","Autonomous","Sadashiv Peth",411030]
print(A)
print(B)

['Sudiksha Sachin', 'Bhosale', 20, 'Student']
['SP College', 'Autonomous', 'Sadashiv Peth', 411030]

Tupples

In [ ]:
a=("Sudiksha Bhosale","Bhosale",20,"Student")
b=("SP College","Autonomous","Sadashiv Peth",411030)
print(a)
print(b)

('Sudiksha Bhosale', 'Bhosale', 20, 'Student')
('SP College', 'Autonomous', 'Sadashiv Peth', 411030)

In [ ]:
print(A[0:2])
print(B[2:3])
print(a[2])
print(b[3])

['Sudiksha Sachin', 'Bhosale']
['Sadashiv Peth']
20
411030

Class

In [ ]:
print(type(A))
print(type(B))
print(type(a))
print(type(b))

<class 'list'>
<class 'list'>
<class 'tuple'>
<class 'tuple'>

Copy

In [ ]:
print(A)
A1=A.copy()
print(A1)

### Tupples cannot be copied

['Sudiksha Sachin', 'Bhosale', 20, 'Student']
['Sudiksha Sachin', 'Bhosale', 20, 'Student']

Append

In [ ]:
print(B)
B.append("Autonomous")
print(B)

### TUpples cannot be modified

['SP College', 'Autonomous', 'Sadashiv Peth', 411030]
['SP College', 'Autonomous', 'Sadashiv Peth', 411030, 'Autonomous']

Count

In [ ]:
print(A.count("Sudiksha Sachin"))
A.append("Sudiksha Sachin")
print(A.count("Sudiksha Sachin"))

1
2

Delete list

In [ ]:
try:
 print(A1)
 del A1
 print(A1)
except:
    pass

### List A1 is deleted therefore it is showing error
### Used Try and Expect to maintain the continuity of the program

['Sudiksha Sachin', 'Bhosale', 20, 'Student']

Extend

In [ ]:
print(A)
print(B)
A.extend(B)
print(A)

['Sudiksha Sachin', 'Bhosale', 20, 'Student', 'Sudiksha Sachin']
['SP College', 'Autonomous', 'Sadashiv Peth', 411030, 'Autonomous']
['Sudiksha Sachin', 'Bhosale', 20, 'Student', 'Sudiksha Sachin', 'SP College', 'Autonomous', 'Sadashiv Peth', 411030, 'Autonomous']

Index

In [ ]:
print(B.index("Sadashiv Peth"))
print(A.index("Autonomous"))

### If the elements are repeated in the list then index() will provide the index no. of first element

2
6

Sort

In [ ]:
K=["D","A","C","B"]
print(K)
K1=[4,2,1,3]
print(K1)
K.sort()
K1.sort()
print(K)
print(K1)

### For sorting all the elements in the list should be of same type

['D', 'A', 'C', 'B']
[4, 2, 1, 3]
['A', 'B', 'C', 'D']
[1, 2, 3, 4]

Access

In [ ]:
print(K[:2])
print(K1[0:])

['A', 'B']
[1, 2, 3, 4]

Nested List

In [ ]:
ABlist=["Sudiksha Bhosale","SP COllege",[20,411030]]
print(ABlist)
print(ABlist[2])

['Sudiksha Bhosale', 'SP COllege', [20, 411030]]
[20, 411030]